* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Background-used: #f8f9fe;
  --Neutral-color-Neutral-50: #fff;
  --Neutral-color-Neutral-200: #f9f9f9;
  --Neutral-color-Neutral-400: #e8e8e8;
  --Neutral-color-Neutral-500: #c6c6c6;
  --Neutral-color-Neutral-700: #727272;
  --Neutral-color-Neutral-800: #4b4b4b;
  --Neutral-color-Neutral-900: #282828;
  --Neutral-color-Neutral-950: #181818;
  --Primary-color-blue-50: #e9e9fd;
  --Primary-color-blue-100: #d3d4fc;
  --Primary-color-blue-200: #a7aaf9;
  --Primary-color-blue-300: #767cf5;
  --Primary-color-blue-400: #4450ef;
  --Primary-color-blue-500: #1b2cc1;
  --Secondary-color-blue-50: #d9daff;
  --System-color-Success: #2e7d32;
  --System-color-Info: #0288d1;
  --System-color-Warning: #f9a825;
  --System-color-Error: #d32f2f;
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
  background: var(--Background-used);
  gap: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.errors {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: stretch;
  gap: 10px;
}

.error {
  padding: 10px;
  background: red;
  color: white;
}

.success {
  padding: 10px;
  background: green;
  color: white;
}

/* Sidebar */
.sidebar {
  display: flex;
  width: 20%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--Neutral-color-Neutral-50);
  transition: width 1s ease-in-out, opacity 1s ease-in-out;
}

.sidebar__menus {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  flex: 1 0 0;
  align-self: stretch;
}

.sidebar__logo {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: var(--Neutral-color-Neutral-400);
  gap: 12px;
}

.sidebar__logo > h1 {
  color: var(--Primary-color-blue-500);
  font-family: "Playfair Display";
}

.sidebar__nav {
  align-self: stretch;
}

.sidebar__links {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 4px;
}

.sidebar__link {
  border-radius: 10px;
}

.sidebar__link > a {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--Neutral-color-Neutral-900);
}

.sidebar__link.active {
  background: var(--Primary-color-blue-500);
}

.sidebar__link.active > a {
  color: var(--Neutral-color-Neutral-50);
}

.sidebar__link:hover {
  background: var(--Primary-color-blue-100);
}

.sidebar__link.active:hover {
  background: var(--Primary-color-blue-500);
}

.sidebar__profile {
  display: flex;
  align-items: center;
}

.sidebar__initials {
  border-radius: 50%;
  background: var(--Primary-color-blue-500);
  color: var(--Neutral-color-Neutral-50);
  padding: 10px;
}

.sidebar__info {
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.sidebar__name {
  color: var(--Neutral-color-Neutral-950);
}

.sidebar__email {
  color: var(--Neutral-color-Neutral-700);
}

/* Main */
.main {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: stretch;
  gap: 36px;
  flex-grow: 1;
  transition: transform 1s ease-in-out;
}

/* Header */
.header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  align-self: stretch;
}

.header__text > h1 {
  color: var(--Primary-color-blue-500);
  margin-bottom: 8px;
}

.header__text > p {
  color: var(--Neutral-color-Neutral-900);
}

.header__button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: var(--Primary-color-blue-400, #4450ef);
  border: none;
  color: var(--Neutral-color-Neutral-50);
  cursor: pointer;
}

/* Search Section */
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.search__input {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  border-radius: 14px;
  border: 1px solid var(--Primary-color-blue-200);
  background: var(--Neutral-color-Neutral-200);
  width: 80%;
  gap: 5px;
  height: 44px;
}
.search__input > input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: inherit;
}

.search__filter {
  display: flex;
  height: 44px;
  padding: 0 20px;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--Primary-color-blue-400);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: none;
  color: var(--Neutral-color-Neutral-50);
  cursor: pointer;
}

/* Quick Action Section */
.quick-actions {
  width: 95%;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 15px;
}

.quick-action {
  display: flex;
  height: 40px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid var(--Primary-color-blue-400);
  background: var(--Neutral-color-Neutral-50);
  color: var(--Primary-color-blue-400);
  cursor: pointer;
}

.quick-action:hover {
  background: var(--Primary-color-blue-100);
}

.quick-action.active {
  color: var(--Neutral-color-Neutral-50);
  border: none;
  background: var(--Primary-color-blue-400, #4450ef);
}

/* Upcoming Events Section */
.event {
  width: 95%;
}

.event__heading {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.heading {
  color: var(--Primary-color-blue-500);
}

.view__all {
  display: flex;
  gap: 5px;
  cursor: pointer;
  border: none;
  background: inherit;
}

.event__heading > a {
  color: var(--Neutral-color-Neutral-900);
}

.event__cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.event__card {
  display: flex;
  flex-direction: column;
  width: 48%;
  border-radius: 16px;
  overflow: hidden;
}

.event__card--heading {
  border-radius: 16px 16px 0 0;
  background: url(./images/planner-images/ImageWithFallback.png);
  height: 128px;
  background-size: cover;
  background-repeat: no-repeat;
}

.event__card--body {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  border: 1px solid var(--Primary-color-blue-200);
  border-radius: 0 0 16px 16px;
  border-top: 0;
  margin-top: -5px;
  background: var(--Neutral-color-Neutral-50);
  flex-grow: 1;
}

.title__cont {
  display: flex;
  justify-content: space-between;
}

.card__title {
  color: var(--Neutral-color-Neutral-900);
}

.card__date,
.card__time,
.card__venue {
  display: flex;
  color: var(--Neutral-color-Neutral-800);
  align-items: center;
  gap: 5px;
}

.card__progress--text {
  display: flex;
  justify-content: space-between;
}

.progress {
  display: flex;
  align-items: stretch;
  border-radius: 16px;
  background: var(--Primary-color-blue-50);
  height: 10px;
}

.progress__bar {
  width: 97%;
  background: var(--Primary-color-blue-400);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card__summary {
  display: flex;
  justify-content: space-between;
}

.card__vendors {
  display: flex;
  gap: 5px;
  align-items: center;
}

.card__vendors--text > p:first-child {
  color: var(--Neutral-color-Neutral-700);
}

.card__vendors--text > p:nth-child(2) {
  color: var(--Neutral-color-Neutral-900);
}

.event__status {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.event__status--completed {
  background: rgba(46, 125, 50, 0.15);
  color: var(--System-color-Success);
}

.event__status--active {
  background: var(--Primary-color-blue-50);
  color: var(--System-color-Info);
}

.event__status--upcoming {
  background: rgba(249, 168, 37, 0.1);
  color: var(--System-color-Warning);
}

.modal {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: none;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: var(--Neutral-color-Neutral-50);
  z-index: 999;
}

.modal.show {
  display: flex;
}

body.no-scroll {
  overflow: hidden;
}

.modal__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.modal__heading > h2 {
  color: var(--Primary-color-blue-500);
}

.modal__heading>img {
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.modal__input {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.modal__input > label {
  color: var(--Neutral-color-Neutral-900);
  font-size: 12px;
}

.modal__input span {
  color: var(--System-color-Error);
}

.modal__input > input {
  padding: 4px 12px;
  align-self: stretch;
  border-radius: 14px;
  border: 1px solid var(--Primary-color-blue-200);
  background: var(--Neutral-color-Neutral-200);
  outline: none;
  height: 35px;
}

.modal__input--textarea {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.modal__input > textarea {
  padding: 4px 12px;
  border-radius: 14px;
  border: 1px solid var(--Primary-color-blue-200);
  background: var(--Neutral-color-Neutral-200);
  outline: none;
  height: 70px;
  overflow: hidden;
}

.modal__datetime {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.modal__button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Primary-color-blue-400);
  background: var(--Neutral-color-Neutral-50);
  color: var(--Primary-color-blue-500);
  cursor: pointer;
}

.modal__button--create-event {
  background: var(--Primary-color-blue-500);
  color: var(--Neutral-color-Neutral-50);
  border: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  display: none;
  z-index: 10;
  inset: 0;
}

.overlay.show {
  display: flex;
}

@media (max-width: 980px) {
  .sidebar {
    width: 30%;
  }
  .event__card {
    width: 100%;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 62.5%;
  }
  .sidebar {
    width: 40%;
  }
}

@media (max-width: 768px) {
  body {
    gap: 30px;
  }
  .quick-actions {
    flex-direction: column;
    align-items: stretch;
  }
}
